/* You can add global styles to this file, and also import other style files */
/* fonts */
body {
  background: #000000;
}
@font-face {
  font-family: 'lato-r';
  src: url('/font/Lato-Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'lato-b';
  src: url('/font/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'lato-bl';
  src: url('/font/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.swiper-button-next .swiper-navigation-icon,
.swiper-button-prev .swiper-navigation-icon {
  height: 30px;
}
