.container-fluid {
  /* margin: 0 auto; */
  border: 1px solid white;
  padding: 0px 80px;
}
/* for test */
.container {
  padding: 0px;
  /* margin: 0px auto; */
  border: 1px solid red;
}
ul {
  /* border: 1px solid yellow; */
  width: 60%;
  border: 5px solid green;
  /* margin: 0px auto; */
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li {
  border: 1px solid blue;
  /* margin: 0px auto; */
  /* list-style: none; */
}
/* end */

ul li a {
  /* text-decoration: none; */
  color: #959595;
  font-family: 'PoetsenOne';
  font-size: 14px;
}
ul li a .active {
  color: green;
}
ul li .hire {
  padding: 12px 40px;
  background: linear-gradient(to bottom right, #fd6f00, #e46400);
  border-radius: 10px;
}
ul li a:hover {
  color: #fd6f00;
  transition: 0.3s;
}
img {
  width: 50px;
  /* height:40px; */
}
