/* global */
.navbar-toggler-icon {
  color: rgb(253, 111, 0);
  border: none;
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgb(253,111,0)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

ul li a {
  color: #959595;
  font-family: 'lato-b';
  font-size: 18px;
}
.container {
  padding: 14px;
  margin-bottom: 20px;
  margin-top: 20px;
  /* border: 1px solid red; */
  border-radius: 26px;
  background: transparent;
  box-shadow: -3px -1px 12px 3px #bf5f167a;
  align-items: baseline;
}

/* end */

ul li a .activ {
  color: green;
}
ul li .hire {
  padding: 12px 40px;
  background: linear-gradient(to bottom right, #fd6f00, #e46400);
  border-radius: 10px;
}
ul li a:hover {
  color: #fd6f00;
  transition: 0.3s;
}
img {
  width: 50px;
  /* height:40px; */
}
/* MOBILE */
@media (max-width: 767px) {
  ul {
    width: 100%;
    margin-top: 23px;
    align-items: normal;
    text-align: left;
    margin-left: 20px;
  }
}
/* Small Screens  */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* border: 1px solid red; */
    border-radius: 50px;
    background: transparent;
    box-shadow: -3px -1px 12px 3px #bf5f167a;
    align-items: baseline;
    justify-content: space-evenly;
  }
  .navbar-collapse {
    width: 68%;
    flex-grow: initial;
  }
  ul {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
/* midume */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    padding: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* border: 1px solid red; */
    border-radius: 50px;
    background: transparent;
    box-shadow: -3px -1px 12px 3px #bf5f167a;
    align-items: baseline;
    justify-content: space-evenly;
  }
  .navbar-collapse {
    width: 50%;
    flex-grow: initial;
  }
  ul {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
/* D Large Screens  */
@media (min-width: 1200px) {
  .container {
    padding: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* border: 1px solid red; */
    border-radius: 50px;
    background: transparent;
    box-shadow: -3px -1px 12px 3px #bf5f167a;
    align-items: baseline;
    justify-content: space-evenly;
  }
  .navbar-collapse {
    width: 50%;
    flex-grow: initial;
  }
  ul {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
