.container {
  margin-top: 150px;
  margin-bottom: 150px;
}

.row {
  text-align: center;
}
.about-img {
  margin-top: 40px;
  min-height: 783px;
  gap: 105px;
}
.about-img .left {
  position: relative;
}
.about-row p {
  font-family: 'Lato-r';
  font-size: 20px;
  color: #707070;
}
.about-row h1 {
  font-family: 'Lato-b';
  font-size: 40px;
  color: white;
}
.img-bg {
  position: absolute;
  width: 418px;
  height: 591px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -39.5%);
  bottom: 0;
  border-top-left-radius: 261.5px;
  border-top-right-radius: 261.5px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background: rgb(255 255 255 / 10%);
  box-shadow: inset 2px 3px 13px 1px #ff852957;
  /* box-shadow: -3px -1px 12px 3px #bf5f167a; */
}
.pro_img {
  position: absolute;
  height: 724px;
  margin: 0px auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50.5%);
  bottom: 0;
}
.p-small {
  display: none;
}
/* right */
.right {
  align-self: end;
}
.right p {
  text-align: justify;
}
.download {
  display: inline-block;
  text-decoration: none;
  color: #959595;
  margin-top: 19px;
  padding: 12px 40px;
  border: 2px solid #959595;
  border-radius: 8px;
  font-size: 20px;
}
.download:hover {
  background-color: #fd6f00;
  color: white;
  border: 2px solid #fd6f00;
}
.download img {
  width: 30px;
  height: 30px;
}

/* skills_row */
.skills_row {
  margin-top: 100px;
}
.skills_row .skills_con {
  width: 200px;
  min-height: 200px;
  text-align: center;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 2px 1px 13px 1px #ff852957;
}
.skills_row .col-lg-12 {
  width: 100%;
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: space-around;
  gap: 15px;
}
.skills_row .skills_con p:nth-of-type(1) {
  margin-bottom: 8px;
  margin-top: 24px;
  font-family: 'Lato-b';
  font-size: 24px;
  color: #fd6f00;
}
.skills_row .skills_con div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 130px;
  height: 130px;
}
.skills_row .skills_con div span:nth-child(2) {
  position: absolute;
  top: 0;
  width: 130px;
  height: 100%;
  border-radius: 50%;
}
.skills_row .skills_con div span:nth-child(3) {
  position: absolute;
  top: 50;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  outline: 10px solid hsla(0, 0%, 85%, 20%);
}
.skills_row .skills_con div svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 10px;

  animation: progress 2s linear forwards;
}
@media (max-width: 767px) {
  .container {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .about-img {
    margin: 70px 0px;
    gap: 0;
  }
  .about-img .left {
    position: relative;
    min-height: 350px;
  }
  .img-bg {
    position: absolute;
    height: 268.6px;
    width: 58%;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -36.2%);
    bottom: 0;
    border-top-left-radius: 261.5px;
    border-top-right-radius: 261.5px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background: rgb(255 255 255 / 10%);
  }
  .left {
    margin-bottom: 20px;
  }
  .pro_img {
    position: absolute;
    height: 360.88px;
    margin: 0px auto;
    top: 50%;
    left: 50%;
    transform: translate(-51%, -52.1%);
    bottom: 0;
  }
  .p-large {
    display: none;
  }
  .p-small {
    display: block;
    font-family: 'Lato-r';
    font-size: 16px;
    color: #707070;
    text-align: justify;
  }
  .skills_row {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .skills_row .col-lg-12 {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 15px;
  }
  .skills_row .skills_con {
    width: 147px;
    min-height: 200px;
    text-align: center;
  }
  .skills_row .skills_con p:nth-of-type(1) {
    margin-bottom: 8px;
    margin-top: 24px;
    font-family: 'Lato-b';
    font-size: 24px;
    color: #fd6f00;
  }
  .skills_row .skills_con div {
    position: relative;

    margin: 0px auto;
    width: 130px;
    height: 130px;
  }
  .skills_row .skills_con div span:nth-child(2) {
    position: absolute;
    top: 0;
    width: 130px;
    height: 100%;
    border-radius: 50%;
    /* border: 1px solid red; */
  }
  .skills_row .skills_con div span:nth-child(3) {
    position: absolute;
    top: 50;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    /* border: 1px solid red; */
    outline: 10px solid hsla(0, 0%, 85%, 20%);
  }
  .skills_row .skills_con div svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 10px;

    animation: progress 2s linear forwards;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .about-img {
    display: flex;
    flex-flow: row;
    gap: 10px;
    min-height: 762px;
  }
  .about-img .right {
    align-self: flex-end;
  }
  .about-img .left {
    position: relative;
    min-height: 596px;
  }
  .img-bg {
    position: absolute;
    width: 315.64px;
    height: 428.6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -34%);
    bottom: 0;
    border-top-left-radius: 261.5px;
    border-top-right-radius: 261.5px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background: rgb(255 255 255 / 10%);
  }
  .pro_img {
    position: absolute;
    height: 564.88px;
    width: 350px;
    margin: 0px auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
  }
  .p-large {
    display: none;
  }
  .p-small {
    display: block;
    font-family: 'Lato-r';
    font-size: 16px;
    color: #707070;
    text-align: justify;
  }
  /* skills */
  .skills_row {
    margin-top: 100px;
  }
  .skills_row .col-lg-12 {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 15px;
  }
  .skills_row .skills_con {
    width: 160px;
    min-height: 200px;
    text-align: center;
  }
  .skills_row .skills_con p:nth-of-type(1) {
    margin-bottom: 8px;
    margin-top: 24px;
    font-family: 'Lato-b';
    font-size: 24px;
    color: #fd6f00;
  }
  .skills_row .skills_con div {
    position: relative;

    margin: 0px auto;
    width: 130px;
    height: 130px;
  }
  .skills_row .skills_con div span:nth-child(2) {
    position: absolute;
    top: 0;
    width: 130px;
    height: 100%;
    border-radius: 50%;
  }
  .skills_row .skills_con div span:nth-child(3) {
    position: absolute;
    top: 50;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    outline: 10px solid hsla(0, 0%, 85%, 20%);
  }
  .skills_row .skills_con div svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 10px;

    animation: progress 2s linear forwards;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .about-img {
    margin-top: 70px;
    display: flex;
    flex-flow: row;
    gap: 78px;
    align-self: center;
    min-height: 690px;
  }
  .about-img .left {
    position: relative;
    height: 670px;
  }
  .right {
    align-self: center;
  }
  .img-bg {
    position: absolute;
    width: 365.64px;
    height: 519.6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35.9%);
    bottom: 0;
    border-top-left-radius: 261.5px;
    border-top-right-radius: 261.5px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background: rgb(255 255 255 / 10%);
  }
  .pro_img {
    position: absolute;
    height: 664.88px;
    /* width: 500px; */
    margin: 0px auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
  }
  .p-large {
    display: none;
  }
  .p-small {
    display: block;
    font-family: 'Lato-r';
    font-size: 16px;
    color: #707070;
    text-align: justify;
  }
  /* skills_row */
  .skills_row {
    margin-top: 100px;
  }
  .skills_row .col-lg-12 {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* gap: 15px; */
  }
  .skills_row .skills_con {
    width: 137px;
    min-height: 200px;
    text-align: center;
  }
  .skills_row .skills_con p:nth-of-type(1) {
    margin-bottom: 8px;
    margin-top: 24px;
    font-family: 'Lato-b';
    font-size: 24px;
    color: #fd6f00;
  }
  .skills_row .skills_con div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    width: 130px;
    height: 130px;
  }
  .skills_row .skills_con div span:nth-child(2) {
    position: absolute;
    top: 0;
    width: 130px;
    height: 100%;
    border-radius: 50%;
  }
  .skills_row .skills_con div span:nth-child(3) {
    position: absolute;
    top: 50;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    outline: 10px solid hsla(0, 0%, 85%, 20%);
  }
  .skills_row .skills_con div svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 10px;

    animation: progress 2s linear forwards;
  }
}
@media (min-width: 1200px) {
  .about-img {
    margin-top: 70px;
    display: flex;
    flex-flow: row;
    gap: 90px;
    align-self: flex-start;
  }

  .right {
    align-self: flex-end;
  }
}
