.container {
  margin-top: 150px;
  margin-bottom: 150px;
}

.row {
  text-align: center;
}
.about-img {
  margin-top: 40px;
  min-height: 808px;
  gap: 105px;
}
.about-img .left {
  position: relative;
}
.about-row p {
  font-family: 'Lato-r';
  font-size: 20px;
  color: #707070;
}
.about-row h1 {
  font-family: 'Lato-b';
  font-size: 40px;
  color: white;
}
.img-bg {
  position: absolute;
  width: 523px;
  height: 676px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40.2%);
  bottom: 0;
  border-top-left-radius: 261.5px;
  border-top-right-radius: 261.5px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background: rgba(255, 255, 255, 4%);
}
.pro_img {
  position: absolute;
  height: 810px;
  margin: 0px auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50.5%);
  bottom: 0;
}

/* right */
.right {
  align-self: center;
}
.right p {
  text-align: justify;
}
.download {
  display: inline-block;
  text-decoration: none;
  color: #959595;
  margin-top: 19px;
  padding: 12px 40px;
  border: 2px solid #959595;
  border-radius: 8px;
  font-size: 20px;
}
.download:hover {
  background-color: #fd6f00;
  color: white;
  border: 2px solid #fd6f00;
}
.download img {
  width: 30px;
  height: 30px;
}
/* skills_row */
.skills_row {
  margin-top: 100px;
}
.skills_row .skills_con {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  width: 130px;
  height: 130px;
  text-align: center;
  border: 1px solid red;
}
.skills_row .skills_con p:nth-of-type(1) {
  margin-bottom: 8px;
  margin-top: 24px;
}
@media (max-width: 767px) {
  .container {
    margin: 100px 0px;
  }
  .about-img {
    margin: 70px 0px;
    gap: 0;
  }
  .about-img .left {
    position: relative;
    min-height: 564px;
  }
  .img-bg {
    position: absolute;
    /* width: 365.64px; */
    height: 472.6px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40.2%);
    bottom: 0;
    border-top-left-radius: 261.5px;
    border-top-right-radius: 261.5px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background: rgba(255, 255, 255, 4%);
  }
  .pro_img {
    position: absolute;
    height: 564.88px;
    width: 394.7px;

    margin: 0px auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50.5%);
    bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    margin: 100px 0px;
  }
  .about-img {
    display: flex;
    flex-flow: row;
    gap: 50px;
    align-self: center;
  }
  .about-img .left {
    position: relative;
    min-height: 564px;
  }
  .img-bg {
    position: absolute;
    width: 100%;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -33.2%);
    bottom: 0;
    border-top-left-radius: 261.5px;
    border-top-right-radius: 261.5px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background: rgba(255, 255, 255, 4%);
  }
  .pro_img {
    position: absolute;
    height: 800px;
    width: 500px;
    margin: 0px auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .about-img {
    margin-top: 70px;
    display: flex;
    flex-flow: row;
    gap: 150px;
    align-self: center;
  }
  .about-img .left {
    position: relative;
    height: 564.88px;

    /* border: 1px solid red; */
  }
  .img-bg {
    position: absolute;
    width: 365.64px;
    height: 472.6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -33.2%);
    bottom: 0;
    border-top-left-radius: 261.5px;
    border-top-right-radius: 261.5px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background: rgba(255, 255, 255, 4%);
  }
  .pro_img {
    position: absolute;
    height: 664.88px;
    /* width: 500px; */
    margin: 0px auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
  }
}
