<div class="container con-slider" id="Services">
  <div class="row">
    <div class="col-12">
      <div class="swiper mySwiper2">
        <div class="swiper-wrapper">
          @if (project()) { @for (i of project()?.projimg; track i) {
          <div class="swiper-slide">
            <img [src]="i" />
          </div>
          } }
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>

      <div thumbsSlider="" class="swiper mySwiper">
        <div class="swiper-wrapper">
          @if (project()) { @for (i of project()?.projimg; track i) {
          <div class="swiper-slide">
            <img [src]="i" />
          </div>
          } }
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container con-title">
  <div class="row">
    <div class="col-7 col-md-6 col-lg-6 left">
      @if (project()) {
      <h1>
        {{ project()?.title }}
      </h1>
      }
    </div>
    <div class="col-5 col-md-6 col-lg-6 right">
      @if (project()) {
      <div>
        <a href="{{ project()?.liveUrl }}" target="_blank">View Live Demo </a>
      </div>
      @if (project()?.type?.toLowerCase()!=="wordpress") {
      <div>
        <a href="{{ project()?.githubUrl }}" target="_blank">View on GitHub </a>
      </div>
      } }
    </div>
  </div>
</div>
<div class="container con-info">
  <div class="row g-5 ">
    <div class="col-12 col-md-6 col-lg-9 left">
      <h3>Project Overview</h3>
      @if (project()) {
      <p>
        {{ project()?.shortDescription }}
      </p>
      }
    </div>
    <div class="col-12 col-md-6 col-lg-3 right">
      <h3>Project Info</h3>
      @if (project()) {
      <div>
        <ul>
          <li>Type: {{ project()?.type }}</li>
          <li>Role: {{ project()?.role }}</li>
          <li>Duration: {{ project()?.Duration }}</li>
          <li>Client: {{ project()?.Client }}</li>
        </ul>
        <a href=""></a>
      </div>
      }
    </div>
  </div>
</div>
<div class="container con-Tech">
  <div class="row">
    <div class="col-12">
      <h3>Tech Stack</h3>
      <div class="Tech">
        @if(project()){ @for(t of project()?.techStack; track t){
        <h5>{{ t }}</h5>
        } }
      </div>
    </div>
  </div>
</div>
<div class="container con-relat">
  <div class="row g-5">
    <div class="col-12">
      <h3>Related Projects</h3>
    </div>

    @if (similarProjects()) {
    <div class="row g-4">
      @for (p of similarProjectsslice(); track p.id) {
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <img [src]="p.image" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ p.title }}</h5>

            <a [routerLink]="['/ProjectDetails', p.id]" class="btn btn-primary"> Show Details </a>
          </div>
        </div>
      </div>
      }
    </div>

    @if (similarProjectslen() > 3) {
    <div class="text-center mt-4">
      @if (itemstoshow() < similarProjectslen()) {
      <button class="show-btn" (click)="loadMore()">Load More</button>
      } @else {
      <button class="show-btn" (click)="seeLess()">See Less</button>
      }
    </div>
    } }
  </div>
</div>

<div class="container con-contact">
  <div class="row">
    <div class="col-12">
      <h4>Have a similar project in mind? Let's work together!</h4>
      <!-- <a routerLink="/Home" fragment="contact">Contact Me</a> -->
    </div>
  </div>
</div>
