.nav-tabs {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  width: 50%;
  margin: 0px auto;
  color: white;
}
.nav-row {
  margin-bottom: 50px;
}
.nav-tabs li:not(:last-child) {
  margin-right: 20px;
}
a.active {
  background: #fd6f00 !important;
  color: white !important;
}
.nav-link {
  font-family: 'lato-b';
  font-size: 16px;
  color: white;
}

.card {
  background: rgba(255, 255, 255, 0.048);
  border-radius: 25px;
  box-shadow: inset 2px 3px 13px 1px #ff852957;
}
.card img {
  width: 100%;
  height: 27rem;
}
.card-body {
  text-align: center;
}
