<div class="container">
  <div class="row nav-row" style="border: 1px solid blue">
    <div class="col-12" style="border: 1px solid red">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#Lor1">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#Lor2">Custom Code</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#Lor3">Wordpress</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#Lor4">JS prac</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="tab-content text-info">
    <!-- Lor1 -->
    <div class="tab-pane fade show active" id="Lor1" role="tabpanel">
      <div class="row g-5">
        @for (p of _projects(); track p.id) {
        <div class="col-4">
          <div class="card">
            <img src="{{p.imag}}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ p.title }}</h5>
              <!-- <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card’s content.
              </p> -->
              <a routerLink="ProjectDetails/{{ p.id }}" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        }
      </div>
    </div>

    <!-- Lor2 -->
    <div class="tab-pane fade" id="Lor2" role="tabpanel">
      <div class="row g-3">
        @for (p of _customcode(); track p.id) {
        <div class="col-4">
          <div class="card">
            <img src="{{p.imag}}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ p.title }}</h5>
              <!-- <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card’s content.
              </p> -->
              <a routerLink="ProjectDetails/{{ p.id }}" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        }
      </div>
    </div>

    <!-- Lor3 -->
    <div class="tab-pane fade" id="Lor3" role="tabpanel">
      <div class="row g-3">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Comming Soon ;)</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Lor4 -->
    <div class="tab-pane fade" id="Lor4" role="tabpanel">
      <div class="row g-3">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Comming Soon ;)</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
