.nav-tabs {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0px auto;
  color: white;
}
.nav-row {
  margin-bottom: 50px;
}
.nav-tabs li:not(:last-child) {
  margin-right: 20px;
}
a.active {
  background: #fd6f00 !important;
  color: white !important;
}
.nav-link {
  font-family: 'lato-b';
  font-size: 16px;
  color: white;
}
.tab-pane {
  margin-bottom: 50px;
}

.card {
  background: rgba(255, 255, 255, 0.048);
  border-radius: 25px;
  box-shadow: 2px 3px 13px 1px #ff852957;
  overflow: hidden;
  border-radius: 26px;
  width: 400px;
}
.card img {
  width: 100%;
  height: 22rem;
  border-radius: 26px;
}
.card:hover {
  transform: scale(1.05);
  border-radius: 26px;
}
.card-body {
  text-align: center;
}
.card-body h5 {
  color: #fd6f00;
  padding: 10px;
}
.card-body a {
  background: transparent;
  border: 1px solid #fd6f00;
}
.card-body a:hover {
  background: #fd6f00;
}
.show-btn {
  background: transparent;
  color: white;
  font-family: 'lato-b';
  font-size: 18px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  width: 150px;
  border: none;
  border-radius: 50px;
  box-shadow: inset 2px 3px 13px 1px #ff852957;
}
.show-btn:hover {
  transform: scale(1.1);
}

/* MOBILE */
@media (max-width: 767px) {
  .nav-tabs {
    width: 64%;
    color: white;
  }
  .tab-content .row {
    display: flex;
    flex-flow: column;
  }
  .card {
    background: rgba(255, 255, 255, 0.048);
    border-radius: 25px;
    box-shadow: 2px 3px 13px 1px #ff852957;
    overflow: hidden;
    border-radius: 26px;
    width: 90%;
    height: fit-content;
    margin: 0px auto;
  }

  .card img {
    width: 100%;
    height: 22rem;
    border-radius: 26px;
  }
}
/* Small Screens */
@media (min-width: 768px) and (max-width: 991px) {
  .nav-tabs {
    width: 100%;
    color: white;
  }

  .card {
    background: rgba(255, 255, 255, 0.048);
    border-radius: 25px;
    box-shadow: 2px 3px 13px 1px #ff852957;
    overflow: hidden;
    border-radius: 26px;
    width: 100%;
    height: fit-content;
    margin: 0px auto;
  }
  .card img {
    width: 100%;
    border-radius: 26px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .nav-tabs {
    width: 100%;
    color: white;
  }

  .tab-pane .row .card {
    background: rgba(255, 255, 255, 0.048);
    border-radius: 25px;
    box-shadow: 2px 3px 13px 1px #ff852957;
    overflow: hidden;
    border-radius: 26px;
    width: 100%;
    margin: 0px auto;
  }
  .card img {
    height: 281px;
    width: 100%;
    border-radius: 26px;
  }
}
@media (min-width: 1200px) {
  .nav-tabs {
    width: 64%;
    color: white;
  }

  .card {
    background: rgba(255, 255, 255, 0.048);
    border-radius: 25px;
    box-shadow: 2px 3px 13px 1px #ff852957;
    overflow: hidden;
    border-radius: 26px;
    width: 100%;
    height: fit-content;
    margin: 0px auto;
  }
  .card img {
    width: 100%;
    border-radius: 26px;
  }
}
